* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font families */
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Font sizes */
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-69-674: 69.674px;
  --fs-110: 110px;
  --fs-152: 152px;

  /* Colors */
  --color-white: #fff;
  --color-dark-bg: #312840;
  --color-light-purple-bg: #bcb0d0;
  --color-dark-purple-bg: #4d435d;
  --color-purple-bg: #7a6ea8;
  --border-color: #98939f;

  /* Backgrounds */
  --bg-dark: var(--color-dark-bg);
  --bg-light-purple: var(--color-light-purple-bg);
  --bg-dark-purple: var(--color-dark-purple-bg);
  --bg-purple: var(--color-purple-bg);

  /* Border radius */
  --br-large: 100px;
  --br-medium: 24.088px;

  /* Opacity */
  --opacity-50: 0.5;
}
body {
  background-color: var(--bg-dark);
  overflow-x: hidden;
}
span {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header_img {
  width: 24px;
  height: 22px;
  flex-shrink: 0;
  aspect-ratio: 12/11;
}
.header__heading {
  font-family: var(--font-inter-tight);
  font-size: var(--fs-24);
  color: var(--color-white);
  font-weight: normal;
  line-height: normal;
  letter-spacing: -1.2px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}
.nav__list {
  display: flex;
  gap: 94px;
  list-style: none;
}
.nav__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
.nav__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
}
.nav__promo_list > a {
  font-family: var(--font-inter-tight);
  font-size: var(--fs-20);
  font-style: normal;
  font-weight: 400;
  color: var(--color-white);
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.5;
}
.nav__promo_list > a:hover {
  opacity: 1;
}
.nav__promo_list {
  position: relative; /*  Для позиционирования псевдоэлемента */
  padding-bottom: 10px; /*  Место для точки */
}

.nav__promo_list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav__promo_list:hover::after {
  opacity: 1;
}
/* ///// */
.hero__int {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 960px;
  margin-top: 120px;
}
.hero_heading_int {
  text-align: center;
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
}
.hero_heading_int_mode {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
}
.hero__int_text {
  text-align: left;
  width: 553px;
  color: #f9f9f9;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
.hero__int_main {
  display: flex;
  justify-content: space-between;
  gap: 190px;
}
.hero__int_main_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 180px;
  margin-top: 75px;
}
.hero__int_main_left-top {
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  justify-content: flex-start;
  position: relative;
}
.hero__int_main_left-topOne {
  width: 341.787px;
  height: 341.787px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background: url("../img/international/hero/svg.svg") top left no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.hero__int_main_left-topOne-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__int_main_left-topOne-svg {
  position: absolute;
  top: -3px;
  left: -3px;
}
.hero__int_main_left-topTwo {
  width: 156px;
  height: 156px;
  border: 1px solid var(--border-color);
  position: relative;
}
.hero__int_main_left-topTwo-svgOne {
  position: absolute;
  top: -3px;
  right: -3px;
}
.hero__int_main_left-topTwo-svgTwo {
  position: absolute;
  bottom: -3px;
  left: -3px;
}
.hero__int_main_left-bottoms {
  display: inline-block;
}

.hero__int_main_left-bottomsOne {
  display: inline-flex;
  height: 83px;
  padding: 26px 30px 28px 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 150.323px;
  border: none;
  background: #7a6ea8;
  background-image: url("../img/international/hero/circleSvg.svg");
  background-position: 25px center;
  background-repeat: no-repeat;
  width: 341px;
  height: 83px;
}
.hero__int_main_left-bottomsOne-text {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.hero__int_main_left-bottomsTwo {
  display: inline-flex;
  height: 83px;
  padding: 26px 30px 28px 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 150.323px;
  border: 1px solid #fff;
  opacity: 0.5;
  width: 222px;
  height: 83px;
  background-color: var(--color-dark-bg);
  background-image: url("../img/international/hero/circleSvgHover.svg");
  background-repeat: no-repeat;
  background-position: 25px center;
}
.hero__int_main_left-bottomsOne-text_hover {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.hero__int_main_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* прижать к верху */
  align-items: center; /* если нужно по центру по горизонтали */
  height: 100%;
}

.hero__int_main_right-text {
  width: 535px;
  color: #fff;
  text-align: right;
  font-family: var(--font-inter-tight);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
.hero__int_main_right_box {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border: 1px solid #98939f;
}
.hero__int_main_right_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 38px;
  margin-left: 136px;
}
.hero__int_main_right {
  margin-top: 90px;
}

.hero__int_main_right_box-imgOne {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 123;
}

/* serviceGeography */
.serviceGeography {
  margin-top: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.serviceGeography_header_heading {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
  text-align: center;
}
.serviceGeography_header_headingMode {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
}
.serviceGeography_header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceGeography_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* или center - по макету */
  width: 100%;
  max-width: 1200px; /* или ваш контейнер */
  margin: 0 auto;
  gap: 272px; /* как на скрине, можно регулировать */
}
.serviceGeography_content_img {
  position: relative;
  z-index: 12;
}
.service-geography__lines_box {
  position: relative;
}
.serviceGeography_mountains_box {
  position: relative;
}
.serviceGeography_mountainsOne {
  position: absolute;
  top: 100px;
  left: -20px;
}
.serviceGeography_mountainsTwo {
  position: absolute;
  top: 226px;
  left: -20px;
}
.serviceGeography_mountainsThree {
  position: absolute;
  top: 310px;
  left: -20px;
}
.serviceGeography_mountainsFour {
  position: absolute;
  top: 402px;
  left: -20px;
}
.serviceGeography_mountainsFive {
  position: absolute;
  top: 691px;
  left: -20px;
}
.service-geography__linesOne {
  position: absolute;
  top: -22px;
  left: 112px;
}
.service-geography__linesTwo {
  position: absolute;
  top: -23px;
  left: 353px;
}
.service-geography__linesThree {
  position: absolute;
  top: -25px;
  left: 777px;
}
.service-geography__linesFour {
  position: absolute;
  top: -20px;
  right: 780px;
}
.service-geography__linesFive {
  position: absolute;
  top: -25px;
  right: 430px;
}
.service-geography__linesSix {
  position: absolute;
  top: -26px;
  right: 363px;
}
.service-geography__linesSeven {
  position: absolute;
  top: -20px;
  right: 70px;
}
.box_location {
  position: relative;
}
.boxUK {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 70px;
  left: 50px;
}
.boxNetherladns {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 275px;
  left: 300px;
}
.boxBelarus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 410px;
  left: 760px;
}
.boxBelgium {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 330px;
  left: 1055px;
}
.boxFinland {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 505px;
  left: 1355px;
}
.boxFrance {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 190px;
  left: 1470px;
}
.boxGermany {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 5px;
  top: 180px;
  right: 30px;
}
.boxUK-text {
  color: #d9d9d9;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
.serviceGeography_header-textOne {
  width: 369px;
  color: #f9f9f9;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  text-align: left;
}

.serviceGeography_header-textTwo {
  color: #f9f9f9;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  text-align: right;
  max-width: 315px;
}

.service-geography__lines {
  position: absolute;
  top: -102px;
  left: 482px;
}
.serviceGeography_content_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ..... */
.info__specialist {
  margin-top: 800px;
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.info__specialist-right {
  position: relative;
}
.info__specialist-right-img {
  position: absolute;
  top: 0px;
  left: -720px;
  z-index: -12;
}
.info__specialist-center_right_bottom {
  position: relative;
  top: 3px;
  left: 0;
}
.info__specialist-left {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.info__specialist-header {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.info__specialist-header-headding {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5px;
}
.info__specialist-header-headding-mode {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 100px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5px;
}
.info__specialist-header-text {
  width: 553px;
  color: #f9f9f9;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
}
.info__specialist-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.info__specialist-content-left {
  position: relative;
  width: 290px;
  height: 319px;
  flex-shrink: 0;
  border: 0.798px solid #98939f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__specialist-content-left-svg {
  position: absolute;
  top: -3px;
  left: -3px;
}
.info__specialist-center {
  display: flex;
  flex-direction: column;
}
.oneWrapper-info__specialist-center_left_top {
  display: flex;
  flex-direction: row;
}
.twoWrapper-info__specialist-center_left_top {
  display: flex;
  flex-direction: row;
}
.info__specialist-center_left_top {
  width: 157.981px;
  height: 157.981px;
  flex-shrink: 0;
  border: 1px solid var(--border-color);
}
.info__specialist-center_right_top {
  width: 157.981px;
  height: 157.981px;
  flex-shrink: 0;
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__specialist-center_left_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157.981px;
  height: 157.981px;
  flex-shrink: 0;
}
.info__specialist-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 294px;
  height: 319px;
  flex-shrink: 0;
  border: 0.798px solid var(--border-color);
}
.info__specialist__footer {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.info__specialist__footer-btn {
  display: inline-flex;
  height: 83px;
  padding: 26px 45px 28px 30px;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 150.323px;
  background: #a294cb;
  border: none;
  width: 282px;
  height: 82px;
}
.info__specialist__footer-btn-text {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.info__specialist__footer-text {
  width: 553px;
  color: #f9f9f9;
  text-align: right;
  font-family: var(--font-inter-tight);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

/* include */

.include {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-top: 70px;
}
.include_heading {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
  text-align: center;
}
.include_heading-mode {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
}
.include__wrapper {
  display: flex;
  justify-content: space-between; /* Разносит блоки по краям */
  align-items: stretch; /* По умолчанию растягивает по высоте */
  height: 100%; /* Займет всю высоту родителя */
  min-height: 600px;
  margin-top: 70px;
  position: relative;
}
.include__content-left-top {
  margin-left: 10px;
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
}
.include__content_description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.include__content-heading {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.2px;
}
.include__content-list {
  list-style: none;
}
.include__content-li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.7;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 5px;
}
.include__content-li {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.include__content-li:last-child {
  margin-bottom: 0px;
}
.include__content-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 55px;
  flex-wrap: wrap;
  position: absolute;
  top: 370px;
  right: 0;
}
.include__content-heading-right {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.2px;
}
.include__content-li-r {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.7;
  margin-bottom: 10px;
  text-align: right;
}
.include__content-li-r::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.7;
  border-radius: 50%;
  margin-left: 8px;
  margin-bottom: 5px;
}
.box_wrapper {
  position: relative;
}
.box_wrapper-left {
  width: 261px;
  height: 261px;
  flex-shrink: 0;
  border: 1.079px solid #98939f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -219px;
  left: -19px;
}
.box_wrapper-riht {
  width: 262.981px;
  height: 262.981px;
  flex-shrink: 0;
  border: 1.686px solid #98939f;
  position: absolute;
  top: -493px;
  right: -21px;
}
.box_wrapper-left-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.include_connetc {
  position: relative;
}
.include_connetc-svg {
  position: absolute;
  top: -380px;
  left: 240.7px;
}
.box_wrapper-left-Cicrclesvg {
  position: absolute;
  bottom: -3px;
  right: -3px;
}
.box_wrapper-right-Cicrclesvg {
  position: absolute;
  bottom: -3px;
  left: -3px;
}
.include__footer {
  margin-top: 170px;
  height: 1078px;
  border-radius: 0px 0px 1000px 1000px;
  margin-right: 0px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #bcb0d0;
}

/* .include__footer__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.include__footer_heading {
  width: 1856.277px;
  color: #312840;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 152.609px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -7.63px;
}
.include__footer_heading-text {
  width: 1856.277px;
  color: #312840;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 152.609px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -7.63px;
}
.include__footer_contant {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.include__footer_contant-left,
.include__footer_contant-right {
  display: flex;
  gap: 25px;
  align-items: center;
}
.include__footer_contant-div {
  width: 37px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #312840;
  display: flex;
  align-items: center;
  justify-content: center;
}
.include__footer_contant-div-r {
  width: 60px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #312840;
  display: flex;
  align-items: center;
  justify-content: center;
}
.include__footer_contant-textDiv {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 12.001px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
.include__footer_contant-text {
  width: 531px;
  color: #312840;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
.include__footer_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}
.include__footer_btn {
  width: 286px;
  height: 83px;
  display: inline-flex;
  height: 83px;
  padding: 26px 30px 28px 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 150.323px;
  background: #a294cc;
  border: none;
}
.include__footer_btn-text {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.box_wrapper-right-CicrclesvgTwo {
  position: absolute;
  top: -3px;
  right: 0px;
}

/* ////BENEFITS */
.benefits {
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px 0 40px 0;
}

.benefits__header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 56px;
  font-size: 48px;
  color: #fff;
  letter-spacing: -2px;
}

.benefits__label {
  width: 412px;
  height: 105px;
  flex-shrink: 0;
  background: #312840;
  border-radius: 64.5px;
  border: 1px solid #fff;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Poppins;
  font-size: 69.674px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.484px;
  text-transform: uppercase;
}
.benefits_header__wrapper {
  width: 911px;
}

.benefits__title {
  color: #fff;
  font-family: Poppins;
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
}

.benefits__italic {
  color: #fff;
  font-family: Poppins;
  font-size: 110px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
}

.benefits__bold {
  font-weight: 700;
}

.benefits__list {
  border-radius: 20px;
  background: #4d435d;
  padding: 32px 24px;
  list-style: none;
  margin: 0;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.06);
  position: relative;
}
.benefits__list::before {
  content: "";
  position: absolute;
  left: 43px;
  top: 58px;
  bottom: 69px;
  width: 4px;
  background: #312840;
  z-index: 0;
}

.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  padding: 24px 0;
  /* border-bottom: 1px solid var(--border-color); */
  position: relative;
}

.benefits__item:last-child {
  border-bottom: none;
}
.benefits__item:last-child .benefits__content::after {
  display: none;
}
.benefits__num {
  width: 36px;
  height: 36px;
  background: #312840;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  margin-left: 5px;
}

.benefits__item--active {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  /* padding оставьте как у обычных .benefits__item, или задайте нужный */
  /* padding: 24px 0; */
  overflow: visible; /* важно для скругления */
}

.benefits__item--active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 8px; /* отступ сверху */
  bottom: 8px; /* отступ снизу */
  background: #312840;
  border-radius: 20px;
  z-index: -1; /* чтобы фон был под содержимым */
}

.benefits__num--active {
  background-color: #4d435d;
}
.benefits__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  position: relative;
}

.benefits__content::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  height: 1px;
  background: #98939f;
  opacity: 0.6;
}

.benefits__main {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.benefits__desc {
  width: 400px;
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.7;
}
/* option that matters */
.opnion {
  padding-left: 20px;
  padding-right: 20px;
  height: 1072px;
}
.opnion_heading {
  margin-top: 210px;
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: var(--fs-110);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
  text-align: center;
}
.opnion_heading_feature {
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.cards-wrapper {
  position: relative;
  height: 1200px;
  width: 1780px; /* фиксированная ширина для расположения карточек */
  margin: 0 auto;
}

.card {
  width: 445px;
  height: 538px;
  background-color: var(--color-dark-bg);
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #98939f;
  position: absolute;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 190px;
}

.cardOne-contentTop-text,
.cardThree-contentTop-text,
.cardFour-contentTop-text {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  width: 386px;
  margin-top: 30px;
}
.cardOne-contentBottom-heading,
.cardThree-contentBottom-heading,
.cardFour-contentBottom-heading {
  width: 319px;
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.cardOne-contentBottom-text,
.cardThree-contentBottom-text,
.cardFour-contentBottom-text {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
  opacity: 0.5;
}

/* Позиционирование карточек */
.cardOne {
  left: 0;
  top: 0;
}

.cardTwo {
  left: 445px;
  top: 44%;
  transform: translateY(-50%);
}

.cardThree {
  left: 890px;
  top: 44%;
  transform: translateY(-50%);
}

.cardFour {
  left: 1335px;
  top: 0;
}
.cardTwo-svg {
  position: relative;
  top: -30px;
  left: -37px;
}

/* ///work-algoritmick */
.work-algorithm {
  background: #2d2540;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", Arial, sans-serif;
}

.work-title {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
  text-align: center;
}

.work-title span {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -5.5px;
}

.work-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.work-imagesOne {
  position: relative;
  top: -234px;
  left: 200px;
}

.work-imagesThree {
  position: relative;
  top: -234px;
  left: -200px;
}

.work-timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* выравниваем по верхнему краю */
  position: relative;
  margin-top: 120px;
}

.work-timeline::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 3%;
  right: 3%;
  height: 3px;
  background: rgba(255, 255, 255, 0.12);
  z-index: 0;
}

.work-step {
  width: 14%;
  position: relative;
  z-index: 1;
  text-align: center;
}
.work-step--active {
  position: relative;
  top: -20px;
  left: 0px;
}

.circle {
  width: 32px;
  height: 32px;
  background: #4d435d;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
  position: relative;
  margin-bottom: 60px;
}

.circle--active {
  margin-bottom: 50px;
}
.circle {
  position: relative;
  top: -20px;
  left: 0px;
}
.circle::after {
  content: "";
  display: block;
  width: 2px;
  height: 60px; /* длина линии, подберите под ваш макет */
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 1;
}
.circle::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: calc(100% + 60px);
  transform: translateX(-50%);
  z-index: 2;
}

.work-step h4 {
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}

.work-step p {
  width: 256px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.7;
}

/* FAQ */
.faq-section {
  background: #312840;
  padding-left: 20px;
  padding-right: 20px;
}
.faq-title {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -5.5px;
}
.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle_btn {
  width: 90px;
  height: 90px;
  background: #4d435d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle_btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}
.box_btns_faq {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
}
.faq-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible; /* чтобы карточки могли выходить за пределы контейнера */
  width: 100vw; /* или шире, если надо */
  position: relative;
  margin-left: calc(50vw - 960px);
}
.faq-grid-img {
  position: absolute;
  top: 0;
  left: 380px;
  z-index: 12;
  filter: blur(2px);
}
.faq-item {
  background: var(--bg-dark);
  border: 1.127px solid #98939f;
  padding: 32px 24px;
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 441px;
  width: 400px;
  box-sizing: border-box;
  margin-right: 0;
  position: relative;
}
.faq-item--half {
  width: 230px;
  position: relative;
}
.faq-item--half-img {
  position: absolute;
  top: 150px;
  left: 0;
}
.faq-item-img {
  position: absolute;
  top: 150px;
  left: 273px;
}
.faq-item--active {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}
/* .faq-item--active__svg{
  position: absolute;
  top: 0;
  left: 0;
} */
.faq-item-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.faq-question {
  width: 399px;
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.faq-answer {
  width: 351px;
  color: #fff;
  font-family: var(--font-inter-tight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}
/* форма */
form {
  font-family: var(--font-inter-tight);
}
.form-wrapper {
  max-width: 400px; /* Ширина формы */
  margin: 80px auto 0 auto; /* Центрирование по горизонтали и отступ сверху */
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px; /* Отступы между полями */
}

label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 400;
}

input,
textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #98939f;
  padding: 8px 0;
  color: #fff;
  font-size: 17px;
  outline: none;
  transition: border-color 0.3s;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #7a6ea8;
}

input:focus,
textarea:focus {
  border-bottom: 1.5px solid #fff;
}

.btn_sumbit {
  margin-top: 30px;
  background: var(--color-purple-bg);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 16px 40px;
  font-size: var(--fs-18);
  cursor: pointer;
  transition: background 0.2s;
}

.btn_sumbit:hover {
  background: #98939f;
}

/* ///Footer */
footer {
  width: 100%;
  background-color: var(--color-light-purple-bg);
  padding: 40px 0; /* Убираем горизонтальные паддинги */
  font-family: var(--font-inter-tight);
  color: #333;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
}
.logo_footer {
  width: 56.588px;
  height: 52px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-36);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.101px;
  width: 296px;
  white-space: nowrap;
}
.footer__logo_text {
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  opacity: 0.5;
  width: 363px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  margin-bottom: 100px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__heading {
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-36);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.08px;
}

.footer__text {
  margin: 5px 0;
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  opacity: 0.5;
  width: 202px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #999;
  padding-top: 20px;
  font-size: 12px;
}
.footer__boottom_group {
  width: 225px;
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
}
.footer__boottom_accpect {
  width: 225px;
  color: var(--color-dark-bg);
  font-family: var(--font-inter-tight);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  opacity: 0.5;
}

.footer-bottom-left,
.footer-bottom-center,
.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-bottom-right a {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}

.footer-bottom-right a:hover {
  text-decoration: underline;
}

.footer-container {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}
